*{
    margin: 0;
    max-width: 100vw;
    box-sizing: border-box;
}
body{
    font-family: Verdana, Tahoma, sans-serif;
    line-height: normal;
    margin: 0;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(8rem, 1fr));
}
.encabezado{
    padding: 10px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    text-align: center;
    z-index: 1;
    background-color: white;
    border-bottom: 1px solid #F39C12;
}

.mainbox {
    margin: 0 auto;
    width: 100%;
}

li:hover {
    cursor:pointer;
    transition: all 0.4s linear;
    transform: translateY(-5px);
}

.mainbox ul{
    margin: 0;
    padding: 0;
    list-style: none;
    align-content: right;
}

.mainbox ul li{
    display: inline-block;
     
}
.mainbox ul li a{
    display: block;
    align-content: space-between;
    line-height: 30px;
    color:rgb(10, 10, 10);
    text-decoration: none;
    font-size: 20px;
    padding: 20px;

}
.mainbox ul li a i{
    color: #F39C12;
    font-size: xx-large;
}

#iconomenu{
    display: none
}

#equis{
    display: none
}

span{
    display: none;
}

.cajainicio{
    margin-top: 150px ;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    place-items: center;
}

#textoinicio{
    display: grid;
    color:  #F39C12;
    text-align: left;
    margin-top: 50px;
    padding: 50px;
}

.fondo{
   
   background-repeat: no-repeat;
   background-position-x: right;
   z-index: -1;
}

.separador{
    max-width: 100%;
    text-align: center;
    padding: 0%;
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(8rem, 1fr));
}

.linea{
    width: 100% ;
    height: 40px;
    position: relative;
}

.linea::after, .linea::before{
    content: '';
    position: absolute;
    height: 1px;
    background: black;
    top: 75%;
    z-index: -2;  
    box-sizing: border-box;
    left: 0;
    right: 0;
}

.rectangulo{
    border: 1px solid #F39C12;
    background:  #F4F6F7  none repeat scroll 0 0;
    display: inline-flex;
    padding: 0 1vw;
} 

.cajasobremi{
    margin-top: 100px;
}

.perfil{
    width: 100vw;
    display: grid;
    gap: 5rem;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

.textoperfil{
    margin: 40px;
    padding: 30px;
    justify-content: center;
    text-align: left;
}

.fotoperfil{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 30px;
}

.cajaexperiencia{
    margin-top: 100px;
}

.linea2{
    width: 100% ;
    height: 40px;
    position: relative;
}

.linea2::after, .linea2::before{
    content: '';
    position: absolute;
    height: 1px;
    background: black;
    top: 75%;
    z-index: -2;  
    box-sizing: border-box;
    left: 0;
    right: 0;
}

.textoexperiencia{
    display: grid;
}

.contenido{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    background-color: rgba(245, 245, 245, 0.911);
    border-radius: 20px;
    border: 1px solid #F9E79F;
}

.year{
    width: 25%;
    text-align: center;
}


.titulo{
    margin: 0.1vw;
    padding: 1vw;
    border-left: 5px solid #F39C12;
    width: 80%;
}

.cajas{
    display:grid;
    gap: 4rem;
    align-items: center;
    background-color: rgba(245, 245, 245, 0.911);
    border: 1px solid #F9E79F;
    border-radius: 20px;
    margin: 40px;
    padding: 20px;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto_barras{
    margin: 0%;
    width: 25%;
    text-align: center;
}

.progress{
    width: calc(100% - 50%);
    height: 30px;
    background-color:white;
}

.progress_fill_20{
    width: 20% ;
    background-color: #F39C12;
    animation: progress-animation-20 3s forwards;
}

@keyframes progress-animation-20{
    0% {width: 0%;}
    20% {width: 20%;}
}

.progress_fill_30{
    width: 30% ;
    background-color: #F39C12;
    animation: progress-animation-30 3s forwards;
}

@keyframes progress-animation-30{
    0% {width: 0%;}
    30% {width: 30%;}
}


.progress_fill_40{
    width: 40% ;
    background-color: #F39C12;
    animation: progress-animation-40 3s forwards;
}

@keyframes progress-animation-40{
    0% {width: 0%;}
    40% {width: 40%;}
}

.progress_fill_50{
    width: 50% ;
    background-color: #F39C12;
    animation: progress-animation-50 3s forwards;
}

@keyframes progress-animation-50{
    0% {width: 0%;}
    50% {width: 50%;}
}

.progress_fill_60{
    width: 60% ;
    background-color: #F39C12;
    animation: progress-animation-60 3s forwards;
}

@keyframes progress-animation-60{
    0% {width: 0%;}
    60% {width: 60%;}
}

.progress_fill_65{
    width: 65% ;
    background-color: #F39C12;
    animation: progress-animation-65 3s forwards;
}

@keyframes progress-animation-65{
    0% {width: 0%;}
    65% {width: 65%;}
}

.progress_fill_70{
    width: 70% ;
    background-color: #F39C12;
    animation: progress-animation-70 3s forwards;
}

@keyframes progress-animation-70{
    0% {width: 0%;}
    70% {width: 70%;}
}

.progress_fill_80{
    width: 80% ;
    background-color: #F39C12;
    animation: progress-animation-80 3s forwards;
}

@keyframes progress-animation-80{
    0% {width: 0%;}
    80% {width: 80%;}
}

.progress_fill_100{
    width: 100% ;
    background-color: #F39C12;
    animation: progress-animation-100 3s forwards;
}

@keyframes progress-animation-100{
    0% {width: 0%;}
    100% {width: 100%;}
}

.cajaidiomas{
    display:grid;
    gap: 2rem;
    align-items: center;
    background-color: rgba(245, 245, 245, 0.911);
    border-radius: 20px;
    border: 1px solid #F9E79F;
    margin: 40px;
    padding: 10px;
}

.box2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper{
    max-width: 1080px;
    margin: 50px auto;
    padding: 0 20px;
    position: relative;
}

.wrapper .linea-central{
    position: absolute;
    height: 90%;
    width: 1px;
    background: #F39C12;
    left: 50%;
    top: 20px;
    transform: translateX(-40%);
    z-index: -1;
}

.wrapper .row{
    display: flex;
    justify-content: flex-start;
}

.wrapper .row-1{
    justify-content: flex-start;
}

.wrapper .row-2{
    justify-content: flex-end;
}

.wrapper .row section{
    background-color: #F4F6F7 ;
    border-radius: 10px;
    border: 1px solid #F9E79F;
    width: calc(50% - 100px);
    padding: 20px;
    position: relative;
}

.row section .detalles {
    align-items: center;
    justify-content: space-between;
    text-align: center;
}


.row section p{
    margin: 10px 0 17px 0;
}

#video{
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.wrapper .row section::before{
    position: absolute;
    content:"";
    height: 15px;
    width: 15px;
    border: 1px solid #F9E79F;
    background-color: #F4F6F7 ;
    top: 28px;
    z-index: -1;
    transform: rotate(45deg);
}

.row-1 section::before{
    right: -7px;
}

.row-2 section::before{
    left: -7px;
}

.row section .icon{
    position: absolute;
    background: #ffc875;
    height: 20px;
    width: 20px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    border: 1px solid  #F39C12;
    top: 13px;
    z-index: -1;
}

.row section .icon_2{
    position: absolute;
    background: #ffc875;
    height: 20px;
    width: 20px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    border: 1px solid  #F39C12;
    top: 13px;
    z-index: -1;
}

#icon{
    margin-left: 0%;
    border-bottom: 1px solid red;
    text-align: center;
    z-index: -1;
}

#icon_2{
    margin-left: 0%;
    border-bottom: 1px solid red;
    text-align: center;
    z-index: -1;
}

.row-1 section .icon{
    right: -111px;
}

.row-1 section .icon_2{
    right: -111px;
}

.row-2 section .icon_2{
    left: -111px;
}

.row-2 section .icon{
    left: -111px;
}

.cajaestudios{
    margin-top: 50px;
}

@media(max-width: 1091px){
    .mainbox ul{
        display: none;
    }

    .mainbox ul.show{
        display: flex;
        flex-direction: column;
    }

    .mainbox ul li a{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        color:rgb(10, 10, 10);
        text-decoration: none;
        padding: 20px 0px;
        border-bottom: 0.5px solid black;
    }

    li:hover {
        transform: none;
    }

    .mainbox ul li a i{
        font-size: x-large;
        width: 20px;
        margin-right: 20px;
    }

    span{
        display: flex;
        margin-bottom: 0;
        font-weight: 400;
    }

    #iconomenu {
        display: block;
        padding: 0%;
        color:rgb(10, 10, 10);
        margin: 10px;
        line-height: 30px;
        text-align: right;
        font-size: 20px;
    }
    #iconomenu:hover{
        cursor:pointer;
    }
    #equis{
        display: block;
    }
    .cajainicio{
        margin-top: 0;
        display: flex;
        flex-direction: column;
    }
    .rectangulo{
        font-size: 1.5rem;
    }
    .wrapper .linea-central{
        height: 91%;
    }
    .cajas{
        display:grid;
        gap: 1rem;
        margin: 5%;
    }
    .box{
        margin: 0%;
    }
    .texto_barras{
        font-size: 1rem;
        margin: 0%;
    }
}

@media(max-width: 772px){
    .cajainicio{
        display: grid;
    }
    .rectangulo{
        font-size: 1rem;
    }
    .wrapper .linea-central{
        display: none;
    }
    .icon{
        display: none;
    }
    .icon_2{
        display: none;
    }
    .wrapper .row section{
        width: 80%; 
        margin: 10px 0;
    }
    .wrapper .row {
        justify-content: center;
    }
    .row-1 section::before{
        display: none;
    }
    .row-2 section::before{
        display: none;
    }
    .cajas{
        display:grid;
        gap: 1rem;
        margin: 5%;
    }
    .cajaidiomas{
        display:grid;
        gap: 1rem;
        margin: 5%;
    }
    .box{
        margin: 0%;
        justify-content: space-around;
    }
    .box2{
        margin: 0%;
        justify-content: space-around;
    }
    .texto_barras{
        font-size: 0.8rem;
    }
    #fotoperfil{
        margin-left: 0;
    }
}

@media(max-width: 480px){
    .cajainicio{
        display: grid;
    }
    .rectangulo{
        font-size: 0.5rem;
    }
    .wrapper .linea-central,
    .row section::before{
        display:none;
    }
    .detalles, p{
        margin-top: 10%;
    }
    .wrapper .row section{
        margin: 10px 0 ;
        z-index: -1;
    }
    .cajas{
        display:grid;
        gap: 1rem;
        margin: 5%;
    }
    .box{
        margin: 0%;
        display: flex;
        justify-content: space-between;
    }
    .texto_barras{
        font-size: 0.8rem;
    }
    .cajaidiomas{
        display:grid;
        gap: 1rem;
        margin: 5%;
    }
    .box2{
        margin: 0%;
        display: flex;
        justify-content: space-between;
    }
    .cajaportfolio{
        display: grid;
        gap: 1rem;
    }
    #video{
        width: 250px;
        height: 200px;
    }
}

.cajaportfolio{
    display:grid;
    gap: 4rem;
    align-items: center;
}

.imagenes{
    margin: 50px;
    display:grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 25rem), 1fr));
    text-align: center;
    align-content: center;
}

.muestras .imagen1 img{
    width: calc(103% - 40px);
    border: 2px solid #F9EBEA;
}

.muestras .imagen2 img{
    width: calc(95% - 40px);
    border: 2px solid #F9EBEA;
}

.muestras .imagen3 img{
    width: calc(95% - 40px);
    border: 2px solid #F9EBEA;
}

.muestras .imagen4 img{
    width: calc(55% - 40px);
    border: 2px solid #F9EBEA;
}

.muestras .imagen5 img{
    width: calc(63% - 40px);
    border: 2px solid #F9EBEA;
}

.contenedor{
    margin-left: 50px;
    line-height: 5px;
}
    
#icono i{
    margin-top: 50px;
    padding: 10px;
    text-align: center;
    background-color: #F39C12;
    font-size: x-large;
    width: 50px;
    height: 45px;
}

#flecha{
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(8rem, 1fr));
    font-size: x-large;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 50%;
    background: #F39C12;
    justify-content: center;
    position: fixed;
    right: 15px;
    bottom: 70px;
    margin: 2%;
}

#footer{
    margin-top: 50px;
    background-color:whitesmoke;
    padding: 20px;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    align-content: center;
    z-index: 1;
}

#descargar button:hover{
    cursor:pointer;
    background-color: whitesmoke;
    list-style: none;
    transform: translateY(5px);
    transition: all 0.4s linear;
}